<nav class="Title">
    <div class="max-size">
        <div class="logo"><img src="/public/img/YunTech_Logo.png" ></div>
        <ul class="menu">
            <li><label id="sign-in">SIGN IN</label></li>
        </ul>
    </div>
</nav>