@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.max-size{
    padding: 0 40px;
    margin-left: 20px;
}

/* ----- Nav Bar----- */
.Title{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    z-index: 100;
}
.Title.show{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background-color: #03857D;
    z-index: 100;
}
.Title .max-size{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Title .max-size .logo label{
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
    margin-left: 25px;
}
.Title .max-size .menu li{
    list-style: none;
    display: inline-block;
}
#sign-in{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin-right: 50px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}

#sign-in:hover{
    color: #F1820E;
    transition: color .5s ease-in-out;
}

/* ----- Home Section ----- */
.home{
    display: flex;
    background: url("/public/img/School.jpg") no-repeat center;
    background-size: cover;
    height: 250px;
    color: #ffffff;
    width: auto;
    z-index: -100;
    filter:brightness(50%);
}

.home-content{
    display: flex;
    position: absolute;
    z-index: 50;
    top: 70px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.home-content .max-size{
    margin: auto;
}
.content{
    text-align: center;
}
.text{
    font-size: 60px;
    color: white;
    font-weight: 400;
}
.subtext{
    font-size: 30px;
    color: white;
    font-weight: 200;
}

/* -----Main Project----- */
.main{
    height: 640px;
    width: auto;
}
.Plot{
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    height: 550px;
    border-color: black;
    float: left;
    background-color: whitesmoke;
    padding: 0px 25px 0px 25px;
    box-shadow: 0 10px 10px #e2e2e2 ;
}
.plot-text{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 600;
}
.selectform{
    margin-top: 5px;
    padding: 5px 20px 5px 20px;
    border: 2px solid rgb(136, 136, 136);
    border-radius: 15px;
    height: 95px;
}
.shelly_selection{
    float: left;
    width: 40%;
}
.range_selection{
    float: right;
    width: 60%;
    border-left: 2px solid rgb(136, 136, 136);
    padding-left: 20px;
}
.select-text,.range-text{
    font-size: 20px;
    font-weight: 600;
}
div form input{
    display: none;
}
div form label{
    display: inline-block;
    width: 90px;
    font-weight: 400;
    margin:5px 5px 5px 5px;
    line-height: 2;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #dadada;
    border: 2px solid #dadada;
    font-size: 10px;
    border-radius: 5px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
div form input:disabled+label{
    background-color: #03857D;
    border: 2px solid #03857D;
}
div form label:hover,div form input:checked+label{
    color: #ffffff;
    background-color: #03857D;
    border: 2px solid #03857D;
    transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.chart{
    margin-top: 20px;
    width: auto;
    height: 320px;
    border: 2px solid rgb(136, 136, 136);
}
canvas{
    background-color: #ffffff;
}
.Side{
    margin-right: 5%;
    margin-top: 0px;
    width: 25%;
    height: auto;
    float: right;
}
.Digital{
    height: 220px;
    margin-top: 20px;
    background-color: whitesmoke;
    box-shadow: 0 10px 10px #e2e2e2 ;
}
.digital_text,.control_text{
    position: relative;
    top: 20px;
    left: 35px;
    font-size: 30px;
    font-weight: 600;
}
.digital_content{
    margin: 25px 25px 0px 25px;
    height: 100px;
    border: 2px solid rgb(136, 136, 136);
    border-radius: 15px;
}
.watt{
    height: 50%;
    border-bottom: 2px solid rgb(136, 136, 136);
}
.watt_text,.watt_value{
    float: left;
    width: 50%;
    margin-top: 5px;
    font-size: 22px;
    text-align: center;
}
.watt_text{
    border-right: 2px solid rgb(136, 136, 136);
}
.voltage{
    height: 50%;
}
.voltage_text,.voltage_value{
    float: left;
    width: 50%;
    margin-top: 5px;
    text-align: center;
    font-size: 22px;
}
.voltage_text{
    border-right: 2px solid rgb(136, 136, 136);
}
.lasttime{
    margin-top: 5px;
    padding-left: 30px;
}
.lasttime_text{
    float: left;
    padding-right: 5px;
}
.cycle{
    font-size: 15px;
    font-weight: 400;
    margin-left: 75px;
}
.Control{
    height: 300px;
    margin-top: 30px;
    background-color: whitesmoke;
    box-shadow: 0 10px 10px #e2e2e2 ;
}
.control_content{
    margin: 25px 25px 0px 25px;
    height: 210px;
    border: 2px solid rgb(136, 136, 136);
    border-radius: 15px;
}
.switch_content1,.switch_content2,.switch_content3{
    height: 70px;
    text-align: center;
    
}
.switch_content1,.switch_content2{
    border-bottom: 2px solid rgb(136, 136, 136);
}
.switch_text{
    float: left;
    width: 50%;
    font-size: 22px;
    font-weight: 500;
    position: relative;
    top: 25%;
    border-right: 2px solid rgb(136, 136, 136);
}
.switch{
    position: relative;
    top: 20%;
}
.switch_button{
    display: none;
}
.switch_lb{
    display: inline-block;
    width: 80px;
    font-weight: 400;
    margin:5px 5px 5px 5px;
    line-height: 2;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #dadada;
    border: 2px solid #dadada;
    font-size: 15px;
    border-radius: 50%;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.switch_button:disabled+label{
    background-color: #03857D;
    border: 2px solid #03857D;
}
.switch_lb:hover,.switch_button:checked+label{
    color: #ffffff;
    background-color: #03857D;
    border: 2px solid #03857D;
    transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/* @media (min-height:750px){
    .Plot{
        height: 700px;
    }
} */

/* @media (max-width:1550px){
    .Plot{
        height: 550px;
    }
} */


/* @media (max-width:1400px){
    .Side .Digital h3{
        margin-left: 20%;
    }
} */

/* @media (max-width:1300px){
    .Side .Digital h3{
        font-size: 20px;
    }

    .Side .Digital h5{
        font-size: 20px;
    }
} */

/* @media (max-width:1100px){
    .Side .Digital h3{
        font-size: 18px;
    }

    .Side .Digital h5{
        font-size: 18px;
    }
} */

/* @media (max-width:900px){
    .Side .Digital h3{
        font-size: 15px;
    }

    .Side .Digital h5{
        font-size: 15px;
    }
}

@media (max-width:750px){
    .Side .Digital h3{
        margin-left: 12%;
    }
} */
