@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.Title{
    width: 100%;
    background-color: #03857D;
    height: 80px;
} 

.Title h5{
    font-size: 40px;
    font-weight: 1000;
    padding-top: 10px;
    padding-left: 30px;
}

.Plot{
    text-align: center;
    margin-left: 5%;
    margin-top: 50px;
    width: 60%;
    height: 550px;
    border-color: black;
    border-radius: 10px;
    float: left;
    background-color: whitesmoke;
    padding: 0px 30px 0px 30px;
    box-shadow: 0 10px 10px #e2e2e2 ;
}

canvas{
    margin-top: 30px;
    width: 50px;
    height: 80%;
    background-color: #ffffff;
}

h1{
    font-size: 40px;
    font-weight: 400;  
}

.Side{
    margin-right: 5%;
    margin-top: 50px;
    width: 25%;
    text-align: center;
    height: auto;
    float: right;
}

.Digital{
    height: 250px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 0 10px 10px #e2e2e2 ;
}

.Side .Digital h3{
    margin-top: 30px;
    font-size: 25px;
    font-weight: 400;
    text-align: left;
    margin-left: 25%;
    float: left;
}

.Side .Digital h5{
    margin-top: 30px;
    font-size: 25px;
    font-weight: 400;
    text-align: left;
    margin-left: 20px;
    float: left;
}

.Control{
    height: 250px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 0 10px 10px #e2e2e2 ;
}

#On{
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
    height: 50px;
    background-color: #dadada;
    border: 1px solid #dadada;
    border-radius: 10px;
    width: 70%;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 1s ease-in-out,box-shadow 1s ease-in-out;
}

#On:hover{
    background-color: #7a7a7a;
    border: 1px solid #7a7a7a;
}

#Off{
    font-size: 20px;
    height: 50px;
    background-color: #dadada;
    border: 1px solid #dadada;
    border-radius: 10px;
    width: 70%;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 1s ease-in-out,box-shadow 1s ease-in-out;
}

#Off:hover{
    background-color: #7a7a7a;
    border: 1px solid #7a7a7a;
}

@media (min-height:750px){
    .Plot{
        height: 700px;
    }
}

@media (max-width:1550px){
    .Plot{
        height: 550px;
    }
}


@media (max-width:1400px){
    .Side .Digital h3{
        margin-left: 20%;
    }
}

@media (max-width:1300px){
    .Side .Digital h3{
        font-size: 20px;
    }

    .Side .Digital h5{
        font-size: 20px;
    }
}

@media (max-width:1100px){
    .Side .Digital h3{
        font-size: 18px;
    }

    .Side .Digital h5{
        font-size: 18px;
    }
}

@media (max-width:900px){
    .Side .Digital h3{
        font-size: 15px;
    }

    .Side .Digital h5{
        font-size: 15px;
    }
}

@media (max-width:750px){
    .Side .Digital h3{
        margin-left: 12%;
    }
}
